header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    padding: 1rem;
    background: #f9f9f9;
    font-size: 18px;
    z-index: 10;
    position: sticky;
    top: 0;
}

header img {
    margin-left: 5rem;
}

header div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 5rem;
}

header div img{
    width: 78px;
    margin-right: 1rem;
}

header div ul {
    display: flex;
    gap: 1rem;
    list-style: none;

}